<div class="container-fluid">
    <section class="content">
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
          <!-- general form elements -->
          <div class="box box-primary">
            
            <div class="box-header with-border">
              <h3 class="box-title">发记录 </h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form id="trackForm" name="trackForm" role="form" >
              <div class="box-body">
                <div class="form-group">
                  <label for="secret">输入私钥</label>
                  <input type="password" required class="form-control" id="com_secret" placeholder="输入私钥" ng-model="wallet_info.com_secret" ng-change="getKeyPairFromSecret(wallet_info)">
                </div>
                <div class="form-group">
                  <label for="secret">名称</label>
                  <input id="name" ng-model="com.name" class="form-control" type="text" placeholder="名称">
                </div>
                
                <div class="form-group">
                  <label>选择分类</label>
                  <select id="token" required ng-model="wallet_info.token" class="form-control">
                    <option ng-repeat="p in prods" value='{{p.token}}' ></option>
                  </select>
                </div>
                
                <!-- Date -->
              <div class="form-group">
                <label>输入记录日期:</label>

                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input  required ng-model="record.date"  type="text" class="form-control pull-right" id="date">
                </div>
                <!-- /.input group -->
              </div>
              <!-- time Picker -->
              <div class="bootstrap-timepicker">
                <div class="form-group">
                  <label>记录的时间:</label>

                  <div class="input-group">
                    <input id="time" required ng-model="record.time" type="text" class="form-control timepicker">

                    <div class="input-group-addon">
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                  <!-- /.input group -->
                </div>
                <!-- /.form group -->
              </div>
              <!-- /.form group -->
                <!-- textarea -->
                <div class="form-group">
                  <label>记录的文字描述</label>
                  <textarea required id="desc" ng-model="record.desc" class="form-control" rows="3" placeholder="文字描述"></textarea>
                </div>

                <div class="form-group">
                  <label for="image">记录图片</label>
                  <input ng-model="record.img" onchange="angular.element(this).scope().toBase64(this.files)" type="file" type="file"  accept="image/jpeg,image/jpg,image/png" id="image">

                  <p class="help-block">小于4M.</p>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button ng-click = 'send(wallet_info, com, record)' ng-disabled="trackForm.$invalid" type="submit" class="btn btn-primary">提交上链</button>
              </div>
              <div class="callout callout-info">
                  <p ng-bind='msg'></p>
              </div>
              <div id="code"></div>
            </form>
          </div>
          <!-- /.box -->
          </div>
        </div>
      </section>
</div>
<script>
  //Timepicker
  $('.timepicker').timepicker({
      showInputs: false,
      maxHours:24,
      showMeridian:false
    })

    //Date picker
    $('#datepicker').datepicker({
      autoclose: true,
      format:'yyyy/mm/dd',
      language:'cn'
    })
   

</script>
   