<div class="container-fluid">
<section class="content">
          <div  class="login-box">
            <div class="login-logo">
              <b translate="change_pw">Change password</b>
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
              <p class="login-box-msg" translate="change_pw_msg">Input new password twice</p>
          
              <form name="passwdForm" method="post">
                <div ng-class="{true: 'has-error', false: 'has-success'}[passwdForm.passwd.$invalid]" class="form-group has-feedback">
                    <input name="passwd" ng-model="user.passwd" ng-minlength="6"  ng-maxlength="18"  required type="password" class="form-control" placeholder="Password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                  </div>
                  <div ng-class="{true: 'has-error', false: 'has-success'}[ppasswdForm.passwd2.$invalid || user.passwd != user.passwd2]" class="form-group has-feedback">
                      <input name="passwd2" ng-model="user.passwd2" ng-minlength="6"  ng-maxlength="18" required type="password" class="form-control" placeholder="Password Confirm">
                      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                  </div>
                <div class="row">
                  <!-- /.col -->
                  <div class="col-xs-12">
                    <button ng-click="changePasswd(user)" type="submit" ng-disabled="passwdForm.$invalid"  class="btn btn-primary btn-block btn-flat" translate="confirm">Confirm</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>        
      
          
            </div>
          </div>
 </section>
</div>
   