<div class="container-fluid">
<!-- Content Header (Page header) -->
     <section class="content">
          <div  class="login-box">
            <div class="login-logo" translate="sign_in">
              Sign in
            </div>
            <!-- /.login-logo -->
            <div class="login-box-body">
              <p class="login-box-msg">  </p>
          
              <form  name="loginForm"  method="post">
                <div class="form-group has-feedback">
                  <input ng-model="user.email" required type="email" class="form-control" placeholder="Email">
                  <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                  <input ng-model="user.passwd" required ng-minlength="6"  ng-maxlength="18" type="password" class="form-control" placeholder="Password">
                  <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                  <!-- /.col -->
                  <div class="col-xs-12">
                    <button ng-click="login(user)" ng-disabled="loginForm.$invalid" type="submit" class="btn btn-primary btn-block btn-flat" translate="sign_in">Sign In</button>
                  </div>
                  <!-- /.col -->
                </div>
              </form>        
              <a href ng-click="goTo('/renew_password')" translate="forgot_pw">I forgot my password</a><br>
              <a href ng-click="goTo('/sign_up')" class="text-center" translate="reg_new">Register a new membership</a>
          
            </div>
            <!-- /.login-box-body -->
          </div>
     </section>
    </div>
   